#example {
  margin-bottom: 0;
}

.agent-profile {
  font-size: 25px;
  color: rgba(37, 50, 77, 0.76);
}

.list-agents-row {
  font-size: 15px;
}

.modal-schedule-day {
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.day-heading {
  font-size: 18px;
  font-weight: bold;
  color: rgb(81, 82, 84);
  margin-bottom: 3px;
}

tr:nth-child(even) {
  background-color: #dbdbdb;
}

thead .tcustom-header th:hover {
  background-color: #acb3e8;
}

thead .tcustom-header th {
  border-bottom: 1px solid gray;
}

.custom-tr-header {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.tcustom-header {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-align: left;
}
.custom-tr-header td {
  padding: 4px 2px 4px 2px;
  text-align: center;
}


