<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{main_layout :: head(title = 'Check')}">
</head>

<body>
<nav style="z-index: 9999;" th:replace="~{main_layout :: nav}"></nav>
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading" style="padding-top: 40px;">
                <h2 class="text-info" style="color: #4267b2;">
                    New Agency Registration
                </h2>
            </div>

            <!-- Success Registration-->
            <div class="row d-flex justify-content-center" th:if="${success}">
                <div class="col-6 alert alert-success " role="alert">
                    Success! Thank you for registering. &nbsp <a
                        class=""
                        th:href="@{/login}">Login</a>
                </div>
            </div>

            <form
                    class="shadow"
                    method="POST"
                    role="form"
                    th:action="@{/new-agency}"
                    th:if="!${success}"
            >
                <!-- Validation Errors -->
                <div class="row" th:if="${validationErrors}">
                    <div class="col d-flex justify-content-center align-items-center">
                <span class="text-danger align-middle">
                  <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                  </ul>
                </span>
                    </div>
                </div>



                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                                class="form-control item"
                                type="text"
                                id="username"
                                placeholder="JohnDoe"
                                name="username"
                                th:field="${user.username}"
                                required
                                autofocus
                        />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                class="form-control item"
                                type="password"
                                id="password"
                                name="password"
                                th:field="${user.password}"
                                required
                                autofocus
                        />
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Password (repeat)</label>
                        <input
                                class="form-control item"
                                type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                th:field="${user.confirmPassword}"
                                required
                                autofocus
                        />
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">
                        Sign Up
                    </button>
                </form>
            </div>
        </section>
    </main>

</body>

</html>