<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{main_layout :: head(title = 'Check')}">
</head>

<body>
<nav th:replace="~{main_layout :: nav}"  style="z-index: 9999;"></nav>

    <main class="page landing-page" style="min-height: 100vh;background-color: #4267b2;padding-top: 40px;">
        <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/image4.jpg&quot;);color: #4267b2;">
            <div class="text">
                <h2>Please read the paragraph to waste your time.</h2>
                <p><br>This paragraph was a waste of time and space. If you had not read this and I had not typed this you and I could’ve done something more productive than reading this mindlessly and carelessly as if you did not have anything else to do
                    in life. Life is so precious because it is short and you are being so careless that you do not realize it until now since this void paragraph mentions that you are doing something so mindless, so stupid, so careless that you realize
                    that you are not using your time wisely<br><br></p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-bottom: 15px;">
                        <a class="btn btn-outline-light btn-lg" th:href="@{/new-agency}" role="button" href="#" style="font-size: 18px;">New Agency</a></div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
                        style="padding-bottom: 15px;"><a class="btn btn-outline-light btn-lg" role="button" th:href="@{/new-agent}" style="font-size: 18px;">New Agent</a></div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>