<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Care Connect</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/Data-Table-1.css}">
    <link rel="stylesheet" th:href="@{/assets/Data-Table.css}">
    <link rel="stylesheet" th:href="@{/assets/smoothproducts.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <script th:src="@{/assets/smoothproducts.min.js}"></script>
    <script th:src="@{/assets/theme.js}"></script>
    <script th:src="@{/assets/TableFilter-master/dist/tablefilter/tablefilter.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<nav th:replace="~{main_layout :: nav}"  style="z-index: 9999;"></nav>
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container" style="padding-right: 25px; padding-left: 25px; max-width: 1500px;">

            <!-- Table of Agents -->
            <div class="table-responsive">
                <table class="table .my-table">
                    <thead style="font-size: 12px; font-weight: 500; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    <tr class="tcustom-header">
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Name
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Gender
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Zip
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            English
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Language
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Phone
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Address
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Country
                        </th>

                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Mon
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Tue
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Wed
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Thu
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Fri
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Sat
                        </th>
                        <th style="padding: 5px 2px 5px 2px; text-align: center;">
                            Sun
                        </th>
                    </tr>
                    </thead>
                    <tbody class="custom-tbody">
                    <!-- Body -->
                    <tr class="custom-tr-header" th:each="profile : ${profiles}">
                        <td th:text="|${profile.last}, ${profile.first}|">Doe</td>
                        <td th:text="${profile.gender}">Male</td>
                        <td th:text="${profile.zip}">11230</td>
                        <td th:if="${profile.getEnglish()}">Yes</td>
                        <td th:if="${!profile.getEnglish()}">No</td>
                        <td th:text="${profile.language}">Russian</td>
                        <td th:text="${profile.phone}">1234567890</td>
                        <td th:text="${profile.address}">405 Ocean Ave</td>
                        <td th:text="${profile.ethnicity}">United States</td>
                        <th:block th:each="day : ${schedules.get(profile.id)}">
                            <td>
                                <span th:if="${day.morning}">Morning, </span>
                                <span th:if="${day.afternoon}">Noon, </span>
                                <span th:if="${day.evening}">Evening</span>
                            </td>
                        </th:block>

                    </tr>
                    <!-- End Body -->
                    </tbody>
                </table>
                <script th:src="@{/assets/custom.js}"></script>
                <script>

                        var elmnt = document.getElementsByClassName("helpCont");
                        $(elmnt).remove();
                        var elmnt2 = document.getElementsByClassName("helpBtn");
                        $(elmnt2).remove();

                </script>
            </div>

<!--            &lt;!&ndash; Schedule &ndash;&gt;-->
<!--            <div th:each="key : ${schedules.keySet()}">-->
<!--            <div class="modal fade" role="dialog" tabindex="-1" th:id="|p${key}|">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--&lt;!&ndash;                            <h4 class="modal-title" style="color: #4267b2;" th:text="|${profiles.get(schedule.getUserId()-2).first} ${profiles.get(schedule.getUserId()-2).last}|">&ndash;&gt;-->
<!--&lt;!&ndash;                                John Doe&ndash;&gt;-->
<!--&lt;!&ndash;                            </h4>&ndash;&gt;-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body text-capitalize">-->
<!--                            <div class="row modal-schedule-day" th:each="schedule : ${schedules.get(key)}">-->

<!--                                <div class="col-3">-->
<!--                                    <span th:text="${schedule.day}" style="font-size: 18px;font-weight: bold;">Monday</span></div>-->
<!--                                <div class="col-3">-->
<!--                                    <span style="font-size: 18px;" th:if="${schedule.morning}">Morning </span>-->
<!--                                </div>-->
<!--                                <div class="col-3">-->
<!--                                    <span style="font-size: 18px;" th:if="${schedule.afternoon}">Afternoon </span>-->
<!--                                </div>-->
<!--                                <div class="col-3">-->
<!--                                    <span style="font-size: 18px;" th:if="${schedule.evening}">Evening </span>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->

        </div>
    </section>
</main>

</body>

</html>