<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Care Connect</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/Data-Table-1.css}">
    <link rel="stylesheet" th:href="@{/assets/Data-Table.css}">
    <link rel="stylesheet" th:href="@{/assets//smoothproducts.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">

    <script th:src="@{/assets/smoothproducts.min.js}"></script>
    <script th:src="@{/assets/theme.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</head>


<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background-color: #4267b2;padding: 5px 8px;">
    <div class="container"><a class="navbar-brand logo" href="#" style="color: rgba(255,255,255,0.9);">Ozod Kot</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">

                <!-- If user is signed in -->
                <li class="nav-item" role="presentation " sec:authorize="!isAuthenticated()" >
                    <a
                            class="nav-link text-primary d-xl-flex justify-content-xl-center align-items-xl-center"
                            th:href="@{/login}"
                    ><i class="fa fa-sign-in" id="navbar-icon"></i>&nbsp;login</a
                    >
                </li>



                <!-- If user is not signed in -->
                <li class="nav-item" role="presentation">
                    <form
                            method="POST"
                            th:action="@{/logout}"
                            sec:authorize="isAuthenticated()"
                    >
                        <button
                                class="nav-link link text-danger d-xl-flex justify-content-xl-center align-items-xl-center"
                                style="border: none; background: none;"

                        ><i class="fa fa-sign-out" id="navbar-icon"></i>&nbsp;logout</button
                        >
                    </form>
                </li>



            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <!-- Contain goes here -->
</div>

</body>

</html>